.use-state-card {
  width: 80%;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  padding: 1em 2em;
  margin: 5% auto;
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h6 {
      font-size: 20px;
    }
    svg {
      font-size: 40px;
      color: #000;
      transition: 0.3s;
    }
    .rotate {
      transform: rotate(180deg);
    }
  }
  p {
      padding: 2em 2%;
      font-size: 1.25em;
      color: #919191;
  }
}

@media (max-width: 650px) {
    h6 {
        font-size: 16px !important;
    }
}